
.input__align_input {
  border-radius: .3rem;
}

.input__align {
  margin: 1rem 0 1rem 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  word-wrap: break-word;
}
.deleteButton {
  clear: both;
  background-color: #ff0000;
  padding: 0.2rem;
  display: inline-block;
  margin: 1rem 0 0 42rem;
  font-size: 0.51rem;
  border-radius: 6rem;
}
.deleteButton:hover {
  background-color: #fa1c1c;
  border-color: yellow;
  color: white;
}




@media (max-width: 600px) {
  .input__align_input {
    width: 100%;
    font-size: 2rem;
  }
  
 
  .deleteButton {
    margin: 1rem 0 0 1rem;
    font-size: 1.2rem;
  }

}
