.input__align {
  margin: 1rem 0 1rem 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  word-wrap: break-word;
}
.deleteButton {
    clear:both;
  display: inline-block;
  margin: 1rem 0 0 43rem;
  font-size: .6rem;


  border-radius: 6rem;
}
.deleteButton:hover {
  background-color: #fa1c1c;
  border-color: yellow;
  color: white;
}
