.auftragBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: rgb(254, 255, 255);
  list-style: none;
  padding: 1rem;
  width: 50rem;
  margin: auto;
  border: 2px solid;
  box-shadow: 0px 5px #5499c7;
  border-radius: 20px;
  margin-top: 0.8rem;
}

@media(max-width: 600px) {
  .auftragBox {
    clear:both;
    flex-direction: column;
    font-size: 2rem;
    margin-left: 0;
    
  }
  .kundeButton {
    font-size: 1.8rem;
  }

}
  
