.content__container {
    
    list-style: none;
    border-top: 3rem;
   
    flex-direction: row;
    align-self: center;
    /* color: rgb(191, 193, 196); */
}

.content__container__color {
    margin-top: .5rem;
    width: 41.6rem;
   
    padding: .4rem;
    background-color: rgba(191, 200, 206, 0.405);
}