.image {
  width: 50rem;
  margin: auto;
}

.App {
  background-color: rgb(104, 128, 167);
  width: 50rem;
  margin: auto;
  display: flex;
  justify-content: center;
  border: 2px solid;
  box-shadow:  0px 3px 2px;
  border-radius: 20px;
  margin-top: 1.5rem;
 
  
}

@media (max-width: 600px){
  .App {
    font-size: 1.3rem;
    margin-left: .5rem;
  }
}